/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.image-container{
    width: 25%;
    display: inline-block;
    height: 250px;
    border: 1px solid grey;
    margin: 5px;  
}

.row {
    display: table-row;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-row{
    height: 140px;
}